<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="google-site-verification" content="DgZPES-hS0HKSJObWUg-V6DGiR5npbwMEwkb2fNz4rs" />
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta property="og:url" content="http://onlinereading.org" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Read. Online. Anytime." />
    <meta property="og:description" content="Read public domain ebooks online for free. Look at an array of Genre listings and finds books meant just for you." />
    <meta property="og:image" content="https://lonsdale.lib.mn.us/wp-content/uploads/2016/12/book-clipart-Book-clipart-5-cute-book-clip-art.gif" />
    <title>Read. Online. Anytime.</title>
    <!-- Favicon -->
    <link rel="icon" href="/img/favicon.png" type="image/png">
    
    <!-- MDL Bootstrap!(4.4.3 (Not Sure if PRO)) -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Custom Boostrap -->
    <link href="https://mdbootstrap.com/previews/templates/admin-dashboard/css/bootstrap.min.css" rel="stylesheet">
    <!-- MBBOOSTRAP CSS-->
    <link href="https://mdbootstrap.com/previews/templates/admin-dashboard/css/mdb.min.css" rel="stylesheet">
    
    
    
    <link href="https://fonts.googleapis.com/css?family=PT+Sans|Supermercado+One" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
    
    
    
    <!-- Google Sign in OAuth -->
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id" content="312401176924-il56nqvmvjs8m2sno0eqm6l7rd7tpec6.apps.googleusercontent.com">
    <style>
    /* Scrollbar */

::-webkit-scrollbar {
    width: 8px;
}
/* Track */

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
/* Handle */

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #3d466d;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}
html,
body {
    min-height: 100%;
    margin: 0;
    padding: 0;
}

#reader {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: wheat;
    display: flex;
    flex-direction: column;
}

#reader #toolbar {
    flex: 0 1 auto;
    display: flex;
    justify-content: space-between;
    background: rgba(0,0,0,0.05);
    padding: 10px;
}

#reader #toolbar .left {
    flex: 0 1 auto;
}

#reader #toolbar .center {
    flex: 0 1 auto;
}

#reader #toolbar .right {
    flex: 0 1 auto;
}

#reader #area {
    flex: 1 0 auto;
    display: flex;
    position: relative;
}

#reader #area div {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
                
.form-elegant .font-small {
  font-size: 0.8rem; }

.form-elegant .z-depth-1a {
  -webkit-box-shadow: 0 2px 5px 0 rgba(55, 161, 255, 0.26), 0 4px 12px 0 rgba(121, 155, 254, 0.25);
  box-shadow: 0 2px 5px 0 rgba(55, 161, 255, 0.26), 0 4px 12px 0 rgba(121, 155, 254, 0.25); }

.form-elegant .z-depth-1-half,
.form-elegant .btn:hover {
  -webkit-box-shadow: 0 5px 11px 0 rgba(85, 182, 255, 0.28), 0 4px 15px 0 rgba(36, 133, 255, 0.15);
  box-shadow: 0 5px 11px 0 rgba(85, 182, 255, 0.28), 0 4px 15px 0 rgba(36, 133, 255, 0.15); }
 .form-dark .font-small {
  font-size: 0.8rem; }

.form-dark [type="radio"] + label,
.form-dark [type="checkbox"] + label {
  font-size: 0.8rem; }

.form-dark [type="checkbox"] + label:before {
  top: 2px;
  width: 15px;
  height: 15px; }

.form-dark .md-form label {
  color: #fff; }

.form-dark input[type=text]:focus:not([readonly]) {
  border-bottom: 1px solid #00C851;
  -webkit-box-shadow: 0 1px 0 0 #00C851;
  box-shadow: 0 1px 0 0 #00C851; }

.form-dark input[type=text]:focus:not([readonly]) + label {
  color: #fff; }

.form-dark input[type=password]:focus:not([readonly]) {
  border-bottom: 1px solid #00C851;
  -webkit-box-shadow: 0 1px 0 0 #00C851;
  box-shadow: 0 1px 0 0 #00C851; }

.form-dark input[type=password]:focus:not([readonly]) + label {
  color: #fff; }

.form-dark input[type="checkbox"] + label:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 17px;
  height: 17px;
  z-index: 0;
  border: 1.5px solid #fff;
  border-radius: 1px;
  margin-top: 2px;
  -webkit-transition: 0.2s;
  transition: 0.2s; }

.form-dark input[type="checkbox"]:checked + label:before {
  top: -4px;
  left: -3px;
  width: 12px;
  height: 22px;
  border-style: solid;
  border-width: 2px;
  border-color: transparent #00c851 #00c851 transparent;
  -webkit-transform: rotate(40deg);
  -ms-transform: rotate(40deg);
  transform: rotate(40deg);
  -webkit-backface-visibility: hidden;
  -webkit-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  transform-origin: 100% 100%; }
    </style>
  </head>

  <body class="fixed-sn black-skin">
<!--Double navigation-->
<header>
    <!-- Sidebar navigation -->
    <div id="slide-out" class="side-nav sn-bg-4 fixed">
        <ul class="custom-scrollbar list-unstyled">
            <!-- Logo -->
            <li>
                <div class="logo-wrapper waves-light" style="height: 130px">
                    <a href="http://onlinereading.org"><img src="http://www.eatlogos.com/education_logos/png/vector_colourful_education_book_logo.png" class="img-fluid flex-center"></a>
                </div>
            </li>
            <!--/. Logo -->
            <!--Social-->
            <li>
                <ul class="social">
                    <li><a href="https://www.facebook.com/illuminativideos/" class="icons-sm fb-ic"><i class="fa fa-facebook"> </i></a></li>
                    <li><a href="#" class="icons-sm gplus-ic"><i class="fa fa-google-plus"> </i></a></li>
                    <li><a href="https://twitter.com/illuminatiiprod" class="icons-sm tw-ic"><i class="fa fa-twitter"> </i></a></li>
                </ul>
            </li>
            <!--/Social-->
            <!--Search Form-->
            <li>
                <form class="search-form" role="search">
                    <div class="form-group waves-light">
                        <input type="text" class="form-control" placeholder="Search">
                    </div>
                </form>
            </li>
            <!--/.Search Form-->
            <!-- Side navigation links -->
            <li>
                <ul class="collapsible collapsible-accordion">
                    <li><a href="/" class="waves-effect arrow-r"><i class="fa fa-home"></i> Home</a>
                          <li><a href="/all" class="waves-effect arrow-r"><i class="fa fa-globe"></i> All Books</a>
                          <li><a class="collapsible-header waves-effect arrow-r"><i class="fa fa-id-badge"></i> Authors<i class="fa fa-angle-down rotate-icon"></i></a>
                        <div class="collapsible-body">
                            <ul>
                                <li><a href="/allauthors" class="waves-effect">See All Authors</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                              <li><a href="/genres" class="waves-effect arrow-r"><i class="fa fa-align-justify"></i> Genres</a>
                                <li><a href="/about" class="waves-effect arrow-r"><i class="fa fa-question-circle"></i> About</a>
                </ul>
            </li>
            <!--/. Side navigation links -->
        </ul>
        <div class="sidenav-bg mask-strong"></div>
    </div>
    <!--/. Sidebar navigation -->
    <!-- Navbar -->
    <nav class="navbar fixed-top navbar-toggleable-md navbar-expand-lg scrolling-navbar double-nav">
        <!-- SideNav slide-out button -->
        <div class="float-left">
            <a href="#" data-activates="slide-out" class="button-collapse"><i class="fa fa-bars"></i></a>
        </div>
        <!-- Breadcrumb-->
        <div class="breadcrumb-dn mr-auto">
            <p>Read. Online. Anytime. [Christmas Update <i class="fa fa-diamond" aria-hidden="true"></i>]</p>
        </div>
        <ul class="nav navbar-nav nav-flex-icons ml-auto">
        <% if(currentUser){ %>
            <% if(currentUser.username == "Illuminatiiiiii"){ %>
                          <li class="nav-item">
                              <a class="nav-link" href="/upload"><i class="fa fa-plus"></i> <span class="hidden-sm-down">Add Book</span></a>
                          </li>
            <% } %>
        <% } %>
            <li class="nav-item">
                <a class="nav-link" href="/contact"><i class="fa fa-envelope"></i> <span class="clearfix d-none d-sm-inline-block">Contact</span></a>
            </li>
            <% if(!currentUser){ %>
                      <li class="nav-item">
                          <a href="/login" class="nav-link"><i class="fa fa-user"></i> <span class="hidden-sm-down">Login/Register</span></a>
                      </li>
                      <% }else{ %>
                          <!--<li class="nav-item">-->
                          <!--    <a href="/dashboard" class="nav-link"><i class="fa fa-tachometer"></i> <span class="hidden-sm-down">Dashboard</span></a>-->
                          <!--</li>-->
                          <li class="nav-item">
                              <a href="/logout" class="nav-link"><i class="fa fa-sign-out"></i> <span class="hidden-sm-down">Logout</span></a>
                          </li>
                          <li class="nav-item avatar dropdown">
                              <a class="nav-link dropdown-toggle waves-effect waves-light" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="https://s3.amazonaws.com/37assets/svn/1065-IMG_2529.jpg" class="img-fluid rounded-circle z-depth-0"></a>
                          </li>
               <% } %>
        </ul>
    </nav>
    <!-- /.Navbar -->
</header>
<!--/.Double navigation-->
      <!--/.Double navigation-->
      <!--Main layout-->
      <main>
         <% include overlay %>
            