<% include partials/header %>
    <link href="/awesomplete.css" rel="stylesheet" />
    <div class="container">
        <!--Header-->
        <div class="text-center">
            <h3><i class="fa fa-envelope"></i> Add a Book:</h3>
            <hr class="mt-2 mb-2">
        </div>

        <!--Body-->
        <p style="text-align: center">Nothing innapropriate. Don't put a book that already exists. You are responsible for the book(s) you upload.</p>
        <br>

        <section class="section">
            <!-- First row -->
            <form action="/addbook" method="POST" enctype="multipart/form-data">
                <div class="row">
                    <!-- First col -->

                    <div class="col-lg-8">
                        <!-- First card -->
                        <div class="card mb-r">
                          <div class="card-body">
                              <div class="md-form">
                                  <i class="fa fa-hashtag prefix"></i>
                                  <input value="<%= isbn %>" name="isbn" type="text"class="form-control">
                                  <label for="isbn">ISBN</label>
                              </div>
                          </div>
                            <div class="card-body">
                                <div class="md-form">
                                    <i class="fa fa-book prefix"></i>
                                    <input name="title" type="text" value="<%= title %>" class="form-control">
                                    <label for="title">Title</label>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="md-form">
                                    <i class="fa fa-id-card prefix"></i>
                                    <input name="author" type="text" value="<%= author %>" id="author" class="form-control">
                                    <label for="author">Author</label>
                                </div>
                            </div>
                        </div>
                        <!-- /.First card -->

                        <!-- Third Card -->
                        <div class="card mb-r">
                            <div class="card-body">
                                <div class="md-form">
                                    <textarea value="<%= desc %>" type="text" name="desc" id="desc" class="md-textarea"></textarea>
                                    <label for="desc">Description (Pages: <%= pageCount %>, Rating: <%= rating %>)</label>
                                </div>
                            </div>
                        </div>
                        <div class="card mb-r">
                            <div class="card-body">
                                <a download="<%= imageLink %>" href="<%= imageLink %>"><%= imageLink %></a>
                                <div class="file-field">
                                    <div class="btn btn-primary btn-sm">
                                        <span>.EPUB File</span>
                                        <input type="file" name="bookFile">
                                    </div>
                                    <div class="file-path-wrapper">
                                        <input name="fileName" class="file-path validate" type="text" placeholder="No Spaces in File Name." id="fileName">
                                    </div>
                                </div>
                                <div class="file-field">
                                    <div class="btn btn-primary btn-sm">
                                        <span>Book Cover</span>
                                        <input name="coverFile" type="file">
                                    </div>
                                    <div class="file-path-wrapper">
                                        <input name="imageName" class="file-path validate" type="text" placeholder="Only .jpg and .png">
                                    </div>
                                </div>
                            </div>
                            
                                
                        </div>
                        <!-- /.Third Card -->
                    </div>
                    <!-- /.First col -->
                    <!-- Second col -->
                    <div class="col-lg-4">
                        <!-- First card -->
                        <div class="card card-cascade narrower mb-r">
                            <div class="admin-panel info-admin-panel">

                                <div class="card-body">
                                    <div class="form-header primary-color">
                                        <h3>Publish:</h3>
                                    </div>

                                  <!--  <div class="md-form">-->
                                  <!--      <h5>Add to Private Bookshelf</h4>-->
                                  <!--    <select name="private" class="mdb-select colorful-select dropdown-primary">-->
                                  <!--<option>True</option>-->
                                  <!--<option selected="selected">False</option>-->
                                  <!--    </select>-->
                                  <!--  </div>-->
                                    <div class="md-form">
                                        <h5>Fiction/NonFiction</h4>
                                    <select name="fiction" class="mdb-select colorful-select dropdown-primary">
                                <option>None</option>
                                <option selected>Fiction</option>
                                <option>Nonfiction</option>
                              </select>
                                    <!--/Blue select-->
                                </div>
                                <!-- <div class="chips chips-placeholder"></div> -->
                                <div class="md-form">
                                  <h5>Genre:</h5>
                                        <input value="<%= genre %>" name="genre" class="awesomplete form-control" list="mylist" />

                                        <datalist id="mylist">
                                        <option>No Genre</option>
                                        <option>Young Adult</option>
                                        <option>Horror</option>
                                        <option>Fantasy</option>
                                        <option>Poetry</option>
                                        <option>Science Fiction</option>
                                        <option>Mystery</option>
                                        <option>Romance</option>
                                        <option>Comics</option>
                                        <option>History</option>
                                        <option>Comedy</option>
                                        <option>Historical Fiction</option>
                                        <option>Philosophy</option>
                                        <option>Action/Adventure</option>
                                        <option>Satire</option>
                                        <option>Drama</option>
                                        <option>Children</option>
                                        <option>Religion</option>
                                        <option>Biography</option>
                                        <option>Autobiography</option>
                                        <option>Art</option>
                                        <option>Cooking</option>
                                      </datalist>
                                    </div>
                                    <div class="text-center">
                                        <a class="btn btn-outline-danger btn-rounded waves-effect">Cancel</a>
                                        <button onclick="changeToArray()" class="btn btn-default" type="submit" name="submit">Submit</button>
                                    </div>
                                </div>
                                <!--/.Card content-->
                            </div>
                        </div>
                        <!-- /.First card -->
                        <!-- Second card -->
                    </div>
                    <!-- /.First row -->
            </form>
        </section>

        <% include partials/footer %>
