<% include partials/header %>
 <div class="container">
     <br>
                <div class="row" id="home">
                    <!--First column-->
                    <div class="col-lg-6">
                        <div class="description">
                            <h2 class="h2-responsive wow fadeInLeft">We like random messages </h2>
                            <hr class="hr-light wow fadeInLeft">
                            <p class="wow fadeInLeft" data-wow-delay="0.4s">Send us a message to complain to us for some reason or to request a book or feature. Emails that we recieve will be read as soon as possible and will be responded to.</p>
                            <br>
                        </div>
                    </div>
                    <!--/.First column-->

                    <!--Second column-->
                    <div class="col-lg-6">
                        <!--Form-->
                        <div class="card wow fadeInRight">
                            <div class="card-block">
                                <!--Header-->
                                <div class="text-center">
                                    <h3><i class="fa fa-envelope"></i> Write to us:</h3>
                                    <hr>
                                </div>

                                <!--Body-->
                                <form action="/contact" method="POST">
                                  <div class="md-form">
                                      <i class="fa fa-user prefix"></i>
                                      <input name="name" type="text" id="form3" class="form-control">
                                      <label for="form3">Your name</label>
                                  </div>
                                  <div class="md-form">
                                      <i class="fa fa-envelope prefix"></i>
                                      <input name="email" type="text" id="form2" class="form-control">
                                      <label for="form2">Your email</label>
                                  </div>

                                  <!--Textarea with icon prefix-->
                                  <div class="md-form">
                                      <i class="fa fa-pencil prefix"></i>
                                      <textarea name="message" type="text" id="form8" class="md-textarea"></textarea>
                                      <label for="form8">Your message</label>
                                  </div>

                                  <div class="text-center">
                                      <button class="btn btn-primary btn-lg">Send</button>
                                      <!-- <hr>
                                      <fieldset class="form-group">
                                          <input type="checkbox" id="checkbox1">
                                          <label for="checkbox1">Subscribe me to the newsletter</label>
                                      </fieldset> -->
                                  </div>
                                </form>


                            </div>
                        </div>
                        <!--/.Form-->
                    </div>
                    <!--/Second column-->
                </div>
            </div>
<% include partials/footer %>
