<% include partials/header %>
<div class="container">



  <!--Section: Products v.4-->
  <section class="section">

      <!--Section heading-->
      <h1 class="section-heading">Your Dashboard</h1>
      <!--Section sescription-->
      <p class="section-description">Manage your account and view your bookshelfs. Still in progress.</p>

      <!--First row-->
      <div class="row">

          <!--First column-->
          <div class="col-lg-3 col-md-6 mb-r">

              <!--Collection card-->
              <div class="card collection-card z-depth-1-half">
                  <!--Card image-->
                  <div class="view  hm-zoom">
                      <img src="/img/privateshelf.jpg" class="img-fluid" alt="">
                      <div class="stripe dark">
                          <a href="/pbookshelf/user/<%= currentUser.username %>">
                              <p>Private Bookshelf <i class="fa fa-chevron-right"></i></p>
                          </a>
                      </div>
                  </div>
                  <!--/.Card image-->
              </div>
              <!--/.Collection card-->

          </div>
          <!--/First column-->

          <!--Second column-->
          <div class="col-lg-3 col-md-6 mb-r">

              <!--Collection card-->
              <div class="card collection-card z-depth-1-half">
                  <!--Card image-->
                  <div class="view  hm-zoom">
                      <img src="/img/publicshelf.jpg" class="img-fluid" alt="">
                      <div class="stripe light">
                          <a href="/bookshelf/user/<%= currentUser.username %>">
                              <p>Public Bookshelf <i class="fa fa-chevron-right"></i></p>
                          </a>
                      </div>
                  </div>
                  <!--/.Card image-->
              </div>
              <!--/.Collection card-->

          </div>
          <!--/Second column-->

          <!--Third column-->
          <div class="col-lg-3 col-md-6 mb-r">

              <!--Collection card-->
              <div class="card collection-card z-depth-1-half">
                  <!--Card image-->
                  <div class="view  hm-zoom">
                      <img src="/img/addbook.jpg" class="img-fluid" alt="">
                      <div class="stripe dark">
                          <a href="/addbook">
                              <p>Add a Book <i class="fa fa-chevron-right"></i></p>
                          </a>
                      </div>
                  </div>
                  <!--/.Card image-->
              </div>
              <!--/.Collection card-->

          </div>
          <!--/Third column-->

          <!--Fourth column-->
          <div class="col-lg-3 col-md-6 mb-r">

              <!--Collection card-->
              <div class="card collection-card z-depth-1-half">
                  <!--Card image-->
                  <div class="view  hm-zoom">
                      <img src="/img/editprofile.jpg" class="img-fluid" alt="">
                      <div class="stripe light">
                          <a>
                              <p>Edit Profile <i class="fa fa-chevron-right"></i></p>
                          </a>
                      </div>
                  </div>
                  <!--/.Card image-->
              </div>
              <!--/.Collection card-->

          </div>
          <!--/Fourth column-->

      </div>
      <!--/First row-->

  </section>
  <!--/Section: Products v.4-->






</div>
<% include partials/footer %>
