<% include partials/header %>
<div class="container">
    <br>
    <!--Card Warning-->
        <div class="card red lighten-1 text-center z-depth-2">
            <div class="card-body">
                <p class="white-text mb-0">This system is still being built, so don't expect a secure account or good login system.</p>
            </div>
        </div>
        <!--/.Card Warning-->
 <div class="row">
     
            <div class="col-md-6 col-lg-5 login-form mx-auto float-none">
                    <section class="form-elegant">

                        <!--Form without header-->
                        <div class="card">
                    
                            <div class="card-body mx-4">
                    
                                <!--Header-->
                                <div class="text-center">
                                    <h3 class="dark-grey-text mb-5"><strong>Sign in</strong></h3>
                                </div>
                    
                                <!--Body-->
                                <form action="/login" method="POST">
                                <div class="md-form">
                                    <input name="username" type="text" id="login1" class="form-control">
                                    <label for="login1">Your email</label>
                                </div>
                    
                                <div class="md-form pb-3">
                                    <input name="password" type="password" id="login2" type="password" class="form-control">
                                    <label for="login2">Your password</label>
                                    <p class="font-small blue-text d-flex justify-content-end"><a href="#" class="blue-text ml-1">Forgot Password?</a></p>
                                </div>
                    
                                <div class="text-center mb-3">
                                    <button type="button btn-primary" class="btn blue-gradient btn-block btn-rounded z-depth-1a">Login</button>
                                </div>
                                </form>
                                <p class="font-small dark-grey-text text-right d-flex justify-content-center mb-3 pt-2"> or Sign in with:</p>
                    
                                    <div class="row my-3 d-flex justify-content-center">
                                        <!--Facebook-->
                                        <!--<button type="button" class="btn btn-white btn-rounded mr-md-3 z-depth-1a"><i class="fa fa-facebook blue-text text-center"></i></button>-->
                                        <!--Twitter-->
                                        <!--<button type="button" class="btn btn-white btn-rounded mr-md-3 z-depth-1a"><i class="fa fa-twitter blue-text"></i></button>-->
                                        <!--Google +-->
                                        <button type="button" class="btn btn-white btn-rounded z-depth-1a"><i class="fa fa-google-plus blue-text"></i></button>
                                    </div>
                    
                            </div>
                    
                            <!--Footer-->
                            <div class="modal-footer mx-5 pt-3 mb-1">
                                <p class="font-small grey-text d-flex justify-content-end">Not a member? <a href="/register" class="blue-text ml-1"> Sign up.</a></p>
                            </div>
                    
                        </div>
                        <!--/Form without header-->
                    
                    </section>
                </div>
                <!--/Form with header-->

            
            <div class="col-md-6 col-lg-5 login-form mx-auto float-xs-none">
                
                <!--Section: Live preview-->
<section class="form-dark">

    <!--Form without header-->
    <div class="card card-image" style="background-image: url('https://mdbootstrap.com/img/Photos/Others/pricing-table7.jpg');">
        <div class="text-white rgba-stylish-strong py-5 px-5 z-depth-4">

            <!--Header-->
            <div class="text-center">
                <h3 class="white-text mb-5 mt-4 font-bold"><strong>SIGN</strong> <a class="green-text font-bold"><strong> UP</strong></a></h3>
            </div>

            <!--Body-->
            <div class="md-form">
                <input type="text" id="Form-email5" class="form-control white-text">
                <label for="Form-email5">Your email</label>
            </div>

            <div class="md-form pb-3">
                <input type="password" id="Form-pass5" class="form-control white-text">
                <label for="Form-pass5">Your password</label>
                <div class="form-group">
                    <input type="checkbox" id="checkbox6">
                    <label for="checkbox6" class="white-text">Accept the<a href="#" class="green-text font-bold"> Terms and Conditions</a></label>
                </div>
            </div>

            <!--Grid row-->
            <div class="row d-flex align-items-center mb-4">

                <!--Grid column-->
                <div class="text-center mb-3 col-md-12">
                    <button type="button" class="btn btn-success btn-block btn-rounded z-depth-1">Sign in</button>
                </div>
                <!--Grid column-->
            </div>
            <!--Grid row-->

            <!--Grid column-->
            <div class="col-md-12">
                <p class="font-small white-text d-flex justify-content-end">Have an account? <a href="#" class="green-text ml-1 font-bold"> Log in</a></p>
            </div>
            <!--Grid column-->

        </div>
    </div>
    <!--/Form without header-->

</section>
<!--Section: Live preview-->
                
                
                <!--Form with header-->
                <!--<div class="card">-->
                <!--    <div class="card-block">-->

                        <!--Header-->
                <!--        <div class="form-header">-->
                <!--            <h3><i class="fa fa-lock"></i> Register:</h3>-->
                <!--        </div>-->

                <!--        <form action="/register" method="POST">-->
                <!--        <div class="md-form">-->
                <!--            <i class="fa fa-user prefix"></i>-->
                <!--            <input type="text" name="username" class="form-control">-->
                <!--            <label>Username</label>-->
                <!--        </div>-->
                <!--        <div class="md-form">-->
                <!--            <i class="fa fa-user prefix"></i>-->
                <!--            <input type="text" name="firstName" class="form-control">-->
                <!--            <label>First name</label>-->
                <!--        </div>-->

                <!--        <div class="md-form">-->
                <!--            <i class="fa fa-user prefix"></i>-->
                <!--            <input type="text" name="lastName" class="form-control">-->
                <!--            <label>Last name</label>-->
                <!--        </div>-->

                <!--        <div class="md-form">-->
                <!--            <i class="fa fa-envelope prefix"></i>-->
                <!--            <input type="text" name="email" class="form-control">-->
                <!--            <label>Your email</label>-->
                <!--        </div>-->

                <!--        <div class="md-form">-->
                <!--            <i class="fa fa-lock prefix"></i>-->
                <!--            <input type="password" name="password" class="form-control">-->
                <!--            <label>Your password</label>-->
                <!--        </div>-->

                <!--        <div class="text-xs-center">-->
                <!--            <button class="btn btn-primary">Sign up</button>-->
                <!--        </div>-->
                <!--        </form>-->
                <!--    </div>-->

                <!--</div>-->
                <!--/Form with header-->
                <br><br><br><br><br>
            </div>
        </div>
    
    
    
</div>
<% include partials/footer %>