<% include partials/header %>
<div class="container">


    <!--Section: Products v.1-->
    <section class="section">

    <div class="divider-new wow fadeIn" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeIn;">
        <h2 class="h2-responsive">Bookshelf</h2>
    </div>
    <!--Section sescription-->
    <!-- <p class="section-description">Every single book on the website...Enjoy!</p> -->
    <!--First row-->
    <div class="row">
        <% allbooks.forEach(function(allbooks){  %>
            <!--First column-->
        <div class="col-lg-3 col-md-6 mb-r">
            <!--Card-->
            <div class="card">
                <!--Card image-->
                <div class="view overlay hm-white-slight">
                    <img src="/uploads/covers/<%= allbooks.imageName %>" style="height: 331.16px; width: 255px;" alt="">
                    <a href="/privateread/<%= allbooks._id %>">
                        <div class="mask waves-effect waves-light"></div>
                    </a>
                </div>
                <!--/.Card image-->
                <!--Card content-->
                <div class="card-block text-center">
                    <!--Category & Title-->
                    <a href="" class="text-muted"><h5><%= allbooks.genre[0] %></h5></a>
                    <h5 class="card-title"><strong><a href=""><%= allbooks.name %></a></strong></h5>
                    <hr>
                    <!--Description-->
                    <p class="card-text">
                    by <%= allbooks.author %></p>
                    <!--Card footer-->
                    <% if(currentUser){ %>
                    <% if(currentUser.username == "Illuminatiiiiii"){ %>
                    <a href="/remove/<%= allbooks._id %>" class="btn-floating btn-large red"><i class="fa fa-trash"></i></a>
                        <% } %>
                    <% } %>

                </div>
                <!--/.Card content-->
            </div>
            <!--/.Card-->
        </div>
        <!--/First column-->
        <% }); %>







    </div>
    <!--/First row-->
</section>
</div>
<% include partials/footer %>
