#booktitle{
    text-align: center;
}
#title{
    text-align: center;
    font-family: 'Supermercado One', cursive;
    font-size: 40px;
}
#subtitle{
    text-align: center;
    font-family: 'PT Sans', sans-serif;
}
body{
  background-color: whitesmoke;
}
#full-width {
       padding: 0;
}
